<div class="flex items-center justify-center gap-8">
    <a class="border border-neutral-200 rounded-md px-4 py-2 hover:bg-orange-300 hover:text-neutral-800 transition" href="./profile/edit">Editar perfil</a>
    {{#if isPremium}}
        <a class="border border-neutral-200 rounded-md px-4 py-2 hover:bg-orange-300 hover:text-neutral-800 transition" href="./profile/products">Tus productos</a>
        <a class="border border-neutral-200 rounded-md px-4 py-2 hover:bg-orange-300 hover:text-neutral-800 transition" href="./profile/newproduct">agregar producto</a> 
    {{/if}}
</div>