
<form class="flex flex-col items-center gap-2 py-5" action="/api/sessions/resetpassword" method="post">
    <h1>Please use this page to reset your password!</h1>
    <div class="flex gap-4">
        <span >password: </span>
        <input class="comp-form-input" type="new_password" name="new_password" id="new_password" placeholder="new password">
    </div>
    <div class="flex gap-4">
        <span >again password: </span>
        <input class="comp-form-input" type="again_password" name="again_password" id="again_password" placeholder="again password">
    </div>
    <input type="hidden" name="token" id="token" value="{{token}}">
    <input class="transition-colors rounded-md px-4 py-2 mt-2 font-bold bg-orange-600 text-black hover:bg-orange-400" type="submit" value="Reset password" >

</form>